<!--  PAGE HEADER  -->
<div id="page-header">
  <div class="container">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">Sale</a></li>
      <li><a href="#">About us</a></li>
      <li><a href="#">Contact us</a></li>
    </ul>
  </div>
</div>

<!--  LANDING IMAGE  -->
<div id="landing-img" class="container"></div>

<!-- PAGE CONTENT -->
<div class="container">

  <!--  SIDE BAR  -->
  <div class="sidebar">
    <!-- Categories -->
    <div class="box-title box-content">
      Categories
    </div>

    <div class="sidebar-list">
      <ul>
        <% if Category.count > 0 %>
            <% Category.all.each do |category| %>
                <li> <a href="#"><%= category.has_attribute?(:name) ? category.name : 'No Name Attribute' %></a> </li>
            <% end %>
        <% else %>
            <li><a href="#">Magazines</a> </li>
            <li><a href="#">Comics</a> </li>
            <li><a href="#">CD/DVD</a> </li>
            <li><a href="#">Cards</a> </li>
            <li><a href="#">Calendars</a> </li>
            <li><a href="#">Blanks</a> </li>
            <li><a href="#">Rarity</a> </li>
            <li><a href="#">Antiques</a> </li>
        <% end %>
      </ul>
    </div>

    <!-- Categories -->
    <div class="box-title box-content">
      Authors
    </div>

    <div class="sidebar-list">
      <ul>
        <% if Author.count > 0 %>
            <% Author.all.each do |author| %>
                <li> <a href="#"><%= author.has_attribute?(:name) ? author.name : 'No Name Attribute' %></a> </li>
            <% end %>
        <% else %>
            <li><a href="#">John Updike</a> </li>
            <li><a href="#">Jonathan Safran Foer</a> </li>
            <li><a href="#">Jonathan Swift</a> </li>
            <li><a href="#">Jorge Luis Borges</a> </li>
            <li><a href="#">José Saramago</a> </li>
            <li><a href="#">Joseph Conrad</a> </li>
            <li><a href="#">Joseph Heller</a> </li>
            <li><a href="#">Jostein Gaarder</a> </li>
        <% end %>
      </ul>
    </div>
  </div>

  <!--  MAIN CONTENT  -->
  <div id="landing-products">
    <div class="box-title box-content">
      Books
    </div>

    <div class="products-list">
      <ul>
        <% if Book.count > 0 %>
            <% Book.all.each do |book| %>
                <li>
                  <p class="product-img-box">
                    <span style="display: inline-block; height: 100%; vertical-align: middle"></span>
                    <%= image_tag("#{book.has_attribute?(:url) ? book.url : ''}", alt: 'Insert URL for Book') %>
                  </p>

                  <p class="product-price"><%= book.has_attribute?(:price) ? book.price : 'No Price Attribute' %></p>
                  <a href="#"><%= book.has_attribute?(:name) ? book.name : 'No Name Attribute' %></a>
                </li>
            <% end %>
        <% else %>
            <li>
              <p class="product-img-box">
                <span style="display: inline-block; height: 100%; vertical-align: middle"></span>
                <%= image_tag 'book1.png' %>
              </p>

              <p class="product-price">$35.00</p>
              <a href="#">The Rosie Project A Nove</a>
            </li>

            <li>
              <p class="product-img-box">
                <span style="display: inline-block; height: 100%; vertical-align: middle"></span>
                <%= image_tag 'book6.png' %>
              </p>

              <p class="product-price">$35.00</p>
              <a href="#">The Rosie Project A Nove</a>
            </li>

            <li>
              <div class="product-img-box">
                <span style="display: inline-block; height: 100%; vertical-align: middle"></span>
                <%= image_tag 'book2.png' %>
              </div>

              <p class="product-price">$35.00</p>
              <a href="#">The Rosie Project A Nove</a>
            </li>

            <li>
              <p class="product-img-box">
                <span style="display: inline-block; height: 100%; vertical-align: middle"></span>
                <%= image_tag 'book3.png' %>
              </p>

              <p class="product-price">$35.00</p>
              <a href="#">The Rosie Project A Nove</a>
            </li>

            <li>
              <p class="product-img-box">
                <span style="display: inline-block; height: 100%; vertical-align: middle"></span>
                <%= image_tag 'book4.png' %>
              </p>

              <p class="product-price">$35.00</p>
              <a href="#">The Rosie Project A Nove</a>
            </li>

            <li>
              <p class="product-img-box">
                <span style="display: inline-block; height: 100%; vertical-align: middle"></span>
                <%= image_tag 'book5.png' %>
              </p>

              <p class="product-price">$35.00</p>
              <a href="#">The Rosie Project A Nove</a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
  <!--  END MAIN CONTENT  -->
</div>
<!-- END PAGE CONTENT -->

<!--  GOOGLE MAPS  -->
<div id="google_canvas"></div>

<div id="footer">
  <div class="container">
    <div class="ft-col">
      <div class="ft-title">
        INFORMATION
      </div>

      <ul>
        <li><a href="#">Home</a> </li>
        <li><a href="#">Search</a> </li>
        <li><a href="#">Blog</a> </li>
        <li><a href="#">About us</a> </li>
        <li><a href="#">Contact us</a> </li>
      </ul>
    </div>

    <div class="ft-col">
      <div class="ft-title">
        COLLECTIONS
      </div>

      <ul>
        <li><a href="#">Antiques</a> </li>
        <li><a href="#">Blanks</a> </li>
        <li><a href="#">Books</a> </li>
        <li><a href="#">Calendars</a> </li>
        <li><a href="#">Cards</a> </li>
        <li><a href="#">CD/DVD</a> </li>
        <li><a href="#">Comics</a> </li>
      </ul>
    </div>

    <div class="ft-col">
      <div class="ft-title">
        MY ACCOUNT
      </div>

      <ul>
        <li><a href="#">My account</a> </li>
        <li><a href="#">My addresses</a> </li>
        <li><a href="#">My card</a> </li>
      </ul>
    </div>
  </div>
</div>

<script src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true"></script>

<script>
  (function() {

      if(!!navigator.geolocation) {

          var map;

          var mapOptions = {
              zoom: 15,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          };

          map = new google.maps.Map(document.getElementById('google_canvas'), mapOptions);

          var geolocate = new google.maps.LatLng(21.009582, 105.809916);

          var infowindow = new google.maps.InfoWindow({
              map: map,
              position: geolocate,
              content: '<h5>Techmaster</h5>'
          });

          map.setCenter(geolocate);
      } else {
          document.getElementById('google_canvas').innerHTML = 'No Geolocation Support.';
      }

  })();
</script>